<div class="card">
    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
        <img [src]="obtenerLink()" class="img-fluid" />
        <a href="https://google.com" target="_blank">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
        </a>
    </div>
    <div class="card-body">
        <h5 class="card-title">Sergio Guzman Daza</h5>
        <p class="card-text"> Proyecto laboratorio_uno el cual fue la primier actividad en agular, la cual es la
        que nos pone en practica pra probar nuestros conocimientos en lo qu ellevamos de clase </p>

        <div class="container">
            <div class="row">
                <div class="col-lg-4 d-flex aling-items-strech">
                    <div class="card">
                        <a role="button" class="btn btn-social-icon btn-github btn-rounded"
                            style="background-color: #f5f5f5 ;"  href="https://github.com/SantiiPosada/FETVideoGames_laboratorio_uno">
                            <i class="fa fa-github"></i></a>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
